footer.footer
    | © 2022 Product By LMQ
    .container-fluid.bg-light.py-5.mt-5
        .container
            .row
                .col-md-3.mb-4
                    h5.mb-4 Thông tin công ty
                    p Địa chỉ: 123 Đường Trần PHú, Hà Đông
                    p Số điện thoại: 0123456789
                    p Email: luongminhquy@gmail.com.com
                    p Giờ làm việc: 8h - 17h từ thứ 2 đến thứ 6
                
                .col-md-3.mb-4
                    h5.mb-4 Chính sách
                    ul.list-unstyled
                        li.mb-2: a(href="#") Chính sách bảo hành
                        li.mb-2: a(href="#") Chính sách đổi trả
                        li.mb-2: a(href="#") Chính sách giao hàng
                        li.mb-2: a(href="#") Chính sách bảo mật
                
                .col-md-3.mb-4
                    h5.mb-4 Tài khoản
                    ul.list-unstyled
                        li.mb-2: a(href="#") Đăng nhập
                        li.mb-2: a(href="#") Đăng ký
                        li.mb-2: a(href="#") Lịch sử đơn hàng
                        li.mb-2: a(href="#") Thông tin cá nhân
                
                .col-md-3.mb-4
                    h5.mb-4 Theo dõi chúng tôi
                    ul.list-unstyled
                        li.mb-2: a(href="#") Facebooke
                        li.mb-2: a(href="#") Instagram
                        li.mb-2: a(href="#") Tiktok
                        li.mb-2: a(href="#") Twister
