.sider
    .inner-menu 
        ul 
            li 
                a(href="/admin/dashboard") Tổng quan 
            li
                a(href="/admin/products") Sản phẩm
            li 
                a(href="/admin/accounts") Danh sách tài khoản admin 
            li 
                a(href="/admin/user") Danh sách tài khoản user
            li 
                a(href="/admin/order") Đơn hàng
